<footer class="footer">
    <div class="wrap footer-inner">

        <div>
            <strong class="head">BRUNO MACHADO</strong>
            <div class="copyright">
                Game Designer &amp; Programmer
            </div>
        </div>

        <div class="footer-links">
            <a href="https://www.linkedin.com/in/bruno-machado-ab34a6379/"
               target="_blank"
               rel="noopener">
                LinkedIn
            </a>

            <a href="https://github.com/Brun-00"
               target="_blank"
               rel="noopener">
                GitHub
            </a>

            <a href="mailto:bruno.lm.2422@gmail.com">
                Email
            </a>

            <a href="href=https://brun-00.itch.io/"
               target="_blank"
               rel="noopener">
                ItchIo
            </a>

            <a href="cv.html">
                CV
            </a>

            <a href="games.html">
                Games
            </a>
        </div>

        <div class="copyright">
            © 2026 Bruno Machado. All rights reserved.
        </div>

    </div>
</footer>