<header class="header">
    <div class="wrap header-inner">

        <a href="../index.html" class="logo head">
            <span class="logo-mark"></span>
            BRUNO MACHADO
        </a>

        <nav class="nav">
            <a href="../index.html">Home</a>
            <a href="../games.html">Games</a>
            <a href="../about.html">About Me</a>
            <a href="../cv.html">CV</a>
            <a href="../contact.html">Contact</a>
        </nav>

        <button class="burger" aria-label="Open menu">
            ☰
        </button>

    </div>
</header>